@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
	margin: 0;
	padding: 0;
}

hr {
	display: none;
}

img {
	border: none;
}

body {
	background: #071b30 no-repeat;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	padding: 8px;
}

#header h1 {
	margin: 20px 0;
	float: left;
}

#header #menu {
	float: right;
	margin: 30px 0 0;
}

#header #menu ul li {
	list-style: none;
	display: inline;
}

#header #menu ul li a {
	font: 18px Verdana, "Trebuchet Ms", Arial Sans-serif;
	text-decoration: none;
	color: rgb(241, 239, 247);
	float: left;
	padding: 10px;
}

#header #menu ul li a:hover {
	background: rgb(35, 79, 137);
	border-radius: 10px;
	;
}

#destaque {
	clear: both;
	height: 406px;
	background: url(../images/ux_back.jpg)no-repeat;
	border-radius: 20px 20px;
	padding: 10px;
	position: relative;
}

#destaque p {
	font: 24px Verdana, Arial, Tahoma, Sans-serif;
	margin: 385px 0 0 38px;
	color: hsl(177, 49%, 92%);
}

#destaque a.linkDetalhe {
	font: 14px Verdana, Arial, Tahoma, Sans-serif;
	color: #000;
	background: url(../images/setinhadir-black.gif)no-repeat right center;
	text-decoration: none;
	padding: 0 15px 0 10px;
	position: absolute;
	bottom: 20px;
}

#destaque a.linkDetalhe:hover {
	text-decoration: underline;
}

#chamadas article {
	margin: 8px 0;
	width: 889px;
	padding: 5px 5px 0 5px;
	float: left;
	background: rgb(25, 53, 82);
	border-radius: 10px;
}

#chamadas article h2 {
	font: 18px Verdana, Arial, Tahoma, Sans-serif;
	color: rgb(164, 164, 205);
	margin: 10px 0 7px;
	padding: 0 5px 0 5px;
}

#chamadas article p {
	font: 18px Arial, Verdana, Tahona, Sans-serif;
	color: #FFF;
	padding: 10px 5px 10px 5px;
	margin: 5px;
	line-height: 1.6;
}

article iframe {

	border-radius: 8px;
	margin: 0 8px;

}

a.linkDestaque {
	font: 14px Verdana, Arial, Tahoma, Sans-serif;
	color: #FFF;
	background: url(../images/setinhadir-white.gif)no-repeat right center;
	text-decoration: none;
	padding: 0 15px 0 0;
	display: block;
	margin: 5px 0 20px 10px;
	float: left;
}

a.linkDestaque:hover {
	text-decoration: underline;
}

#footer {
	border-top: 1px #FFF;
	clear: both;
	padding: 5px;
	margin: 4px 0 4px 0;
}

#footer a {
	color: #FFF;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#footer address {
	font: 14px Verdana, Arial, Tahoma, Sans-serif;
	color: #FFF;
	float: left;
	margin: 0 0 10px;
}


#footer address p {
	float: left;
	position: relative;
	margin-right: 165px;
	padding: 8px 0 0 0;
}

#minimenu {
	font: 14px Verdana, Arial, Tahoma, Sans-serif;
	float: right;
	margin: 0 0 10px;
}

#minimenu li {
	list-style: none;
	float: left;
	padding: 0 7px 0;
	color: #FFF;
	margin: 0 2px 0;
}

strong.tel, strong.email {
	font: 14px Verdana, Arial, Tahoma, Sans-serif;
	color: #FFF;
	float: right;
	clear: right;
}
div.insta_acesso {
	display: flex;
	flex-direction: row;
	min-width: 98%;
	border-radius: 10px;
	margin-bottom: 40px;
	padding: 15px;
	justify-content: center;

}

.text_nos_siga {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	color: #b0dcf3;
	text-transform: uppercase;

}

a.meta_arroba {
	font-size: 16px;
	color: rgb(14, 126, 237);
	margin: 0 5px;
	text-decoration: none;
	text-transform: none;

}

a.meta_arroba:hover {
	text-decoration: underline;
}


.img_insta {
	margin: 0 2px;
}

@media screen and (max-width:480px) {
	#wrapper {
		width: 85%;
		margin: 0 auto;
	}

	#header {
		max-width: 100%;
		display: flex;
		height: 75%;
		flex-direction: column;
		justify-content: center;
	}

	#header h1 img {
		display: flex;
		text-align: center;
		flex-direction: column;
		align-items: center;
		width: 80%;
		height: auto;
		margin: 0 auto;
	}

	#menu ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: auto;
		margin: 0 auto;
	}

	#header #menu ul li a {
		font-size: 22px;
		font-family: 'Montserrat', sans-serif;
		text-align: center;
	}

	#destaque {
		width: 98%;
		display: flex;
		height: auto;
		background-color: aqua;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 10px 10px 8px 9px;
		background: url(../images/ux_back_mobile.jpg) top right no-repeat;
		padding: 5px 10px;
	}

	#destaque p {
		font: 18px Monteserrat, sans-serif;
		margin: 100px 0 0 0;
		text-align: left;
		color: rgb(248, 246, 244);
		font-weight: 800;
	}

	#chamadas article {
		width: 98%;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 10px auto;
		padding: 2px 5px;

	}

	#chamadas iframe {
		border-radius: 5px;
		width: 95%;
		height: auto;
	}

	a.linkDestaque {

		background: none;

	}

	#footer {
		width: 380px;
		height: auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		margin: 4px;
		padding: 5px;
	}

	#footer address {
		width: 90%;
		height: auto;
		padding: 5px;
		font: 15px Arial, Tahoma, Verdana, Sans-serif;
		margin: 20px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	#footer p {
		font: bold 20px Arial, Tahoma, Verdana, Sans-serif;
	}

	#footer ul#minimenu {
		font: 15px Arial, Tahoma, Verdana, Sans-serif;
		width: 460px;
		text-align: center;
		margin: 0 4px;

	}

	#footer strong.tel {
		display: flex;
		font: 17px Arial, Tahoma, Verdana, Sans-serif;
		flex-direction: row;
		margin: 15px;
	}

	strong.email {
		font: 16px Verdana, Arial, Tahoma, Sans-serif;
		max-width: 100%;
		margin: 0 0 10px 0;
	}

	div.insta_acesso {
		width: 95%;
		padding: 10px;


	}

	.text_nos_siga {
		font-size: 13px;

	}

	a.meta_arroba {
		font-size: 13px;
		color: rgb(14, 126, 237);
		margin: 0 5px;
		text-decoration: none;

	}

	a.meta_arroba:hover {
		text-decoration: underline;
	}


	.img_insta {
		margin: 0 2px;
		width: 20px;
	}



}